body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.center {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

.search {
  margin: 20px 0;
  width: 100%;
}

.loader {
  text-align: center;
  margin-top: 50px;
}
.link {
  color: #38bdf8;
  cursor: pointer;
}
