.login-container,
.signup-container {
  width: 350px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 12px;
  background: #111;
  text-align: center;
  color: white;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: cyan;
  border: none;
  cursor: pointer;
}
